<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- inclusión de bootstrap -
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
url = "http://jlserna-apitechu-apitechu.193b.starter-ca-central-1.openshiftapps.com/apitechu/v1/users/{{id}}"
-->
<dom-module id="visor-contratos-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <input type="Number" placeholder="Identificador de usuario" value="{{client_id::input}}">
    <button class="btn-success" on-click="findContract"> find </button>

    <h1> Listado de contratos </h1>
    <template is="dom-repeat" items="{{items}}">
      <div class="row">
        <h4 class="col-md-5"> Cuenta: {{item.alias}}</h4>
        <h4 class="col-md-4">{{item.iban}}  </h4>
        <h4 class="col-md-3"> Saldo {{item.balance}} {{item.currency}} </h4>
      </div>
    </template>


    <iron-ajax
      id = "doGetContract"
      method = "GET"
      url = "http://localhost:3000/apitechu/v1/users/{{client_id}}/contracts"
      handle-a = "json"
      on-response = "showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorContratosApp extends Polymer.Element {
      static get is() { return 'visor-contratos-app'; }
      static get properties() {
        return {
          contract_id: {
            type: Number
          },
          client_id: {
            type: Number
          },
          iban: {
            type: String
          },
          alias : {
            type: String
          },
          balance : {
            type: Number
          },
          currency: {
            type: String
          }
        };
      };

      showData(data) {
        // console.log(data);
        console.log("showData: ");
        console.log(data.detail.response);
        this.items = data.detail.response;
        console.log("showData: " + this.items[0]);

      };

      findContract() {
        console.log("boton findContract pulsado");
        this.$.doGetContract.generateRequest();
        console.log("Peticion enviada");
      };
    }

    window.customElements.define(VisorContratosApp.is, VisorContratosApp);
  </script>
</dom-module>
