<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- inclusión de bootstrap -
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
url = "http://jlserna-apitechu-apitechu.193b.starter-ca-central-1.openshiftapps.com/apitechu/v2/login"
-->
<dom-module id="login-usuario-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h1 class="col-md-5"> Login usuario </h1>
    </div>

    <input type="email" placeholder="Email" value="{{email::input}}">
    <input type="password" placeholder="Password" value="{{password::input}}">
    <button class="btn-success" on-click="login">login</button>

    <span hidden$="{{!isLogged}}">
      Usuario logado correctamente... buen finde
    </span>
      <h3>
    <iron-ajax
      id = "doLogin"
      url = "http://localhost:3000/apitechu/v2/login"
      method = "POST"
      handle-a = "json"
      content-type = "application/json"
      on-response = "manageLoginResponse"
      on-error = "manageErrorResponse">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuarioApp extends Polymer.Element {
      static get is() { return 'login-usuario-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }
      login() {
        console.log("boton pulsado");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }
      manageLoginResponse(data) {
        console.log("Recibida respuesta");
        console.log(data);
        this.isLogged = true;
        window.location = "/user/" + data.detail.response.id;
      }
      manageErrorResponse(error) {
        console.log("Error recibido");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuarioApp.is, LoginUsuarioApp);
  </script>
</dom-module>
